<h1>Listing comments</h1>

<table>
  <tr>
    <th>Comment</th>
	<th>User</th>
	<th>Date</th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= link_to comment.comment, comment %></td>
	<td><%= link_to comment.user, comment.user %></td>
	<td><%=h comment.updated_at %></td>
<% if !@current_user.administrator.nil? || @current_user == comment.user %>
    <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
    <td><%= link_to 'Destroy', comment, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New comment', new_comment_path %>