<p>
  <b>Title:</b>
  <%=h @episode.title %>
</p>

<p>
  <b>Link:</b>
  <%=h @episode.link %>
</p>

<p>
  <b>Description:</b>
  <%=h @episode.description %>
</p>

<p>
  <b>Air date:</b>
  <%=h @episode.air_date %>
</p>

<% if !@current_user.administrator.nil? %>
<%= link_to 'Edit', edit_episode_path(@episode) %> |
<% end %>

<%# =================Couldn't get working======================================== %>
<!--
<h1>Listing comments</h1>

<table>
  <tr>
    <th>Comment</th>
  </tr>

<% @episode.comments.each do |comment| %>
  <tr>
    <td><%=h comment.comment %></td>
<% if !@current_user.administrator.nil? || @current_user == comment.user %>
    <td><%= link_to 'Show', comment %></td>
    <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
    <td><%= link_to 'Delete', comment, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
  </tr>
<% end %>
</table>

<br /><br />
<h1>New comment</h1>

<% form_for @comment, :url => { :action => 'add' }  do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
-->
<%= link_to 'Back', episodes_path %>